* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e3e4e;
}

.text {
  text-align: center;
  color: white;
  margin: 40px;
  font-family: "Lobster", cursive;
}

.btn {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 45px;
  transition: 0.4s;
}

.menu {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #38495b;
  border-radius: 15px;
}

.btn:hover {
  background-color: #43bc99;
  border-radius: 15px;
}
